
.tile {
  background-size: cover;
  background-position: center;
}

.lightGray {
  background-color: $lightGray;
}
.mint {
  background: $mint;
}
.paleYellow {
  background: $paleYellow;
}
.blue {
  background: $blue;
}
.seaFoamBlue {
  background: $seaFoamBlue;
}
.skyBlue {
  background: $skyBlue;
}
.purple {
  background: $purple;
}
.lightPurple {
  background: $lightPurple;
}
.salmon {
  background: $salmon;
}
.pink {
  background: $pink;
}
